@media (max-width: 768px) {
    .search-result {
        display: block !important;
        width: 95.5% !important;
    }
    #radios{
        display: table !important;
        margin-left: auto;
        margin-right: auto;
    }
    #radios div{
        margin-top: 8px;
    }
    #tabella-container{
        overflow-x: scroll;
    }
}

body {
    background-color: #282828;
    text-align: center;
    color: white;
    font-family: Titillium Web;
}

input{
    margin-top: 5px;
}

.search-result {
    border: 2px solid white;
    border-radius: 8px;
    width: 15%;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
}

table {
    border-collapse: collapse;
    width: 85%;
    margin: auto;
    margin-top: 1rem;
}

th {
    background-color: lightslategray;
}

th, td {
    border: 2px solid #444;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: dimgray;
}

.bus-card-red {
    background-color: red !important;
}

header {
    font-size: 67%;
    background-color: #333;
    height: auto;
    padding: 0px 0px;
    align-items: start;
    width: 100%;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav {
    text-align: center;
    flex-shrink: 0;
}

nav.index {
    display: flex;
    min-height: 51px;
}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

a {
    color: orange;
}

#bacino,
#searchBar {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #727070;
}

#bacino{
    margin-top: 10px;
}

footer {
    position: relative;
    bottom: 0;
	left: 0;
    width: 100%;
}

.info{
    color: white;
}

.lista li{
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 10px;
}
#radios{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

div#radios div{
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 8px;
    padding: 8px;
    border: 2px #404040 solid;
    border-radius: 8px;
}